:root{
/* Colour */
    --first-color: #f8f8f8;
    --second-color: #464647;
    --font-first-colour:#141414;
    --font-second-colour: #edf0f1;
    --hover-colour: #0088a9;
    --button-hover-colour: rgb(0,136,169,1.4);
    --button-colour: rgba(1, 189, 179, 0.5);
    --container-colour:#50505056;
}
:root{
    /* Typography */
    --header-font:'Poppins', sans-serif;
    --body-font:'Roboto', sans-serif;
    --sub-font:'Montserrat', sans-serif;
}
/* test background */

.work-section{
    background-color: rgb(78, 50, 205);
}

/* BODY */
    
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--first-color);
}

html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    width: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HEADER */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 10%;
    min-height: 5vh;
}

h1{
    margin-right: auto;
    font-family: var(--header-font);
    font-weight: 350;
    font-size: 25px;
    letter-spacing: 4px;
    color: var(--second-color);
    text-decoration: none;
    cursor: pointer;
}

li, a, button {
    font-family: var(--header-font);
    font-weight: 300;
    font-size: 17.5px;
    color: var(--font-first-colour);
    text-decoration: none;
    list-style: none;
}
/* BUTTON NAVIGATION */
button{
    padding: 10px 25px;
    margin-left: 20px;
    background-color: var(--button-colour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: var(--button-hover-colour);
    color: #080808 ;
}

.nav-link2 li{
    display: inline-block;
    padding: 0 20px;
}
.nav-link2 li a{
    transition: all 0.3s ease 0s;
}
.nav-link2 li a:hover{
    color: var(--button-hover-colour);
}
.contact-bar{
    padding-left: 20px;
}

/* HOME */

.home-section{
    width: 90%;
    min-width: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

main .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    max-width: 400px;
    margin-bottom: 200px;
    padding: 25px;
    transition: all 0.5s ease-in-out;
}

.home-section:hover .logo{
    opacity: 5%;
    min-height: 300px;
    min-width: 300px;
}

.text-overlay{
    position: absolute;
    margin-left: -600px;
    flex-wrap: wrap;
    top: 45vh;
    background:none;
    font-family: var(--header-font);
    font-size: 50px;
    font-weight: 200;
    width: 50%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    letter-spacing: 3px;
}

.home-section:hover .text-overlay{
    opacity: 100;
}


/* ABOUT */

.about-section{
    width: 90%;
    padding: 40px 0;
    background: none;
}
.aboutme-img{
    height: auto;
    width: 321px;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px var(--second-color);
}

.right-about{
    background: transparent;
}
.about-me{
    width: 90%;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-about h3{
    font-family: var(--header-font);
    font-size: 20px;
    font-weight: 400;
    color: var(--second-color);
    margin-bottom: 80px;
    letter-spacing: 3px;
    margin-left: 210px;
}

.right-about p{
    width: 65%;
    display: flex;
    align-items: center;
    font-family: var(--header-font);
    font-size: 17.5px;
    font-weight: 400;
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 40px;
    margin:auto;
}





/* WORK */



/* CONTACT */
h4{
    font-family: var(--header-font);
    font-size: 17.5px;
    font-weight: 400;
    color: var(--second-color);
    margin-bottom: 55px;
    letter-spacing: 2px;
}

h5{
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 400;
    color: var(--second-color);
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* LEFT CONTAINER */
.left-contact{
    width: 50%;
    height: 800px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    margin-bottom: 60px;
}

.left-contact .contact-content{
    display: block;
    justify-content: center;
    font-family: var(--header-font);
    font-size: 20px;
    font-weight: 200;
    background: none;
}
.contact-content .phone, .email, .address{
    padding: 40px;
    margin: 10px;
    padding-left: 0;
    background: none;
    border: none;
}

/* RIGHT CONTAINER */

.right-contact{
    margin-right: 80px;
}
h6{
	position: relative;
	font-family: var(--header-font);
    font-size: 17.5px;
    font-weight: 400;
    color: var(--second-color);
    margin-bottom: 100px;
    letter-spacing: 2px;
}


.field{
	width: 100%;
	border: none;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 0.5rem;
	font-size: 1.1rem;
	margin-bottom: 50px;
	transition: .3s;
    border-radius: 10px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 50%;
	padding: 0.5rem 0.5rem;
	background-color:var(--hover-colour);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover{
    background-color:var(--button-colour);
}

.field:focus{
    border: 2px solid var(--font-first-colour);
    background-color:var(--first-color);
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 20px 80px;
    font-family: var(--body-font);
    font-size: 15px;
    background: none;
}

footer p{
    font-family: var(--body-font);
    font-weight: 300;
    letter-spacing: 3px;
}

.footer-social a{
    padding-left: 40px;
    letter-spacing: 3px;
}

.footer-social a{
    transition: all 0.3s ease 0s;
}
.footer-social a:hover{
    color: var(--button-hover-colour);
}



/* background test */