:root{
/* Colour */
    --first-color: #f8f8f8;
    --second-color: #29292c;
    --font-first-colour:#141414;
    --font-second-colour: #edf0f1;
    --hover-colour: #0088a9;
    --button-hover-colour: rgb(0,136,169,1.4);
    --button-colour: rgba(1, 189, 179, 0.5);
}
:root{
    /* Typography */
    --header-font:'Poppins', sans-serif;
    --body-font: 'Montserrat Alternates', sans-serif;
}
:root{
    /* MARGIN */

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--first-color);
}

html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HEADER */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 10%;
    min-height: 5vh;
}

h1{
    margin-right: auto;
    font-family: var(--header-font);
    font-weight: 350;
    font-size: 25px;
    letter-spacing: 4px;
    color: var(--font-first-colour);
    text-decoration: none;
    cursor: pointer;
}
h1:hover{
    transition: all 0.3s ease 0s;
    color: var(--button-hover-colour);
}

li, a, button {
    font-family: var(--header-font);
    font-weight: 300;
    font-size: 17.5px;
    color: var(--font-first-colour);
    text-decoration: none;
    list-style: none;
}
/* BUTTON NAVIGATION */
button{
    padding: 10px 25px;
    margin-left: 20px;
    background-color: var(--button-colour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: var(--button-hover-colour);
    color: #080808 ;
}

.nav-link2 li{
    display: inline-block;
    padding: 0 20px;
}
.nav-link2 li a{
    transition: all 0.3s ease 0s;
}
.nav-link2 li a:hover{
    color: var(--button-hover-colour);
}
.contact-bar{
    padding-left: 20px;
}

/* HOME */

main .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin-bottom: 200px;
    border: 200px;
    border-style: none;
    padding: 25px;
}

.logo{
    transition: all 0.5s ease;
}

.home-section:hover .logo{
    opacity: 5%;
    height: 300px;
    width: 300px;
}

.home-section .text-overlay{
    display: flex;
    position: absolute;
    background: none;
    top: 450px;
    left: 350px;
    font-family: var(--header-font);
    font-size: 50px;
    font-weight: 200;
    width: 1200px;
    height: 200px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.home-section:hover .text-overlay{
    opacity: 100;
}


/* WORK */



.about-section{
    background-color: violet;
}
.work-section{
    background-color: yellowgreen;
}
.contact-section{
    background-color: rgb(146, 230, 230);
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 20px 35px;
    font-family: var(--body-font);
    font-size: 15px;
}

footer p{
    font-family: var(--header-font);
    font-weight: 200;
    letter-spacing: 3px;
}

.footer-social a{
    padding-left: 40px;
    letter-spacing: 3px;
}

.footer-social a{
    transition: all 0.3s ease 0s;
}
.footer-social a:hover{
    color: var(--button-hover-colour);
}
